<mat-toolbar>
    <mat-toolbar-row class="admdin-header">
        <ul class="header-admin">
            <li *ngIf="adminUserIsAuthenticated">
                <a mat-button routerLink="/admin/products">Admin Products</a>
            </li>
            <li *ngIf="adminUserIsAuthenticated">
                <a mat-button routerLink="/admin/post">Admin Add Products</a>
            </li>
            <li *ngIf="adminUserIsAuthenticated">
                <a mat-button routerLink="/admin/users">Admin Users</a>
            </li>
            <span class="spacer"></span>
            <li *ngIf="!adminUserIsAuthenticated">
                <a mat-button routerLink="/admin/login">Login</a>
            </li>
            <li *ngIf="!adminUserIsAuthenticated">
                <a mat-button routerLink="/admin/signup">Signup</a>
            </li>
            <li *ngIf="adminUserIsAuthenticated">
                <button mat-button (click)="onLogout()">Logout</button>
            </li>
        </ul>
    </mat-toolbar-row>
</mat-toolbar>
