@import '../../../../common';

.parent-mat-card {
    .profile-container {
        text-align: center;
        .avator-img {
            @include crop-rectangle();
            max-height: 340px;
            max-width: 340px;
            border: solid 1px;
        }
        .update-button {
            @include font-family-times();
            @include theme-color-font();
            outline: none;
        }
    }
    .detail-container {
        text-align: center;
        mat-card {
            mat-list {
                mat-list-item {
                    @include font-family-times();
                    .spacer {
                        flex: 1 1 auto;
                    }
                    mat-card-subtitle {
                        position: relative;
                        top: 5px;
                    }
                }
            }
        }
    }
}
