@import '../../../../common';

.products-container {
    @include displayFlexCenter();
    flex-flow: row wrap;
    .product-container {
        max-width: 300px;
        margin-top: 1rem;
        margin-right: 0.5rem;
        margin-left: 0.5rem;
        cursor: pointer;
        mat-card-actions {
            @include displayFlexCenter();
            button {
                outline: none;
            }
        }
    }
}

mat-paginator {
    @include displayFlexCenter();
    ::ng-deep button {
        outline: none;
    }
}
