<app-carousel></app-carousel>

<mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>

<div class="products-container">
  <mat-card class="product-container" *ngFor="let product of products">
      <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>ID: {{ productCode | uppercase}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a product">
      <mat-card-content>
          <p>
              Something in here!
          </p>
      </mat-card-content>
      <mat-card-actions>
          <button mat-stroked-button color="accent" routerLink="/">Detail</button>
          <button mat-stroked-button color="primary" >Add to Cart</button>
      </mat-card-actions>
  </mat-card>
</div>

<mat-paginator [length]="100"
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
