@import '../../../common';

mat-drawer {
    @include background-color-white();
    @include font-family-times();
    width: 30%;
    mat-toolbar {
        @include background-color-white();
        height: 75px;
        mat-toolbar-row {
            height: 100%
        }
    }
}

mat-toolbar {
    .header {
        @include background-color-white();
        @include font-family-times();
        height: 75px;
        mat-drawer-container {
            @include background-color-white();
        }
        .header-auth {
            @include displayFlex();
            @include paddingMarginToZero;
            list-style: none;
            a,
            button {
                @include theme-color-font();
                @include font-family-times();
                text-decoration: none;
            }
        }
        .header-flag {
            @include displayFlex();
            @include paddingMarginToZero();
            list-style: none;
            img {
                margin-right: 3px;
                margin-left: 3px;
                cursor: pointer;
            }
        }
    }
    .sub-header {
        @include theme-color-background();
        @include font-family-times();
        @include subheaderFontColor();
        height: 46px;
        button {
            @include font-family-times();
            outline: none;
        }
    }
    .sub-header_breadcrumb {
        @include theme-color-font();
        @include font-family-times();
        @include breadcrumbsBackgroundColor();
        height: 35px;
    }
    .spacer {
        flex: 1 1 auto;
    }
    .mat-icon-button {
        outline: none !important;
    }
}

::ng-deep .mat-menu-panel {
    @include font-family-times();
    min-width: 200px !important;
}

::ng-deep .mat-menu-item {
    @include font-family-times();
}

.mat-icon-arrow {
    font-size: 36px;
    height: 36px;
    width: 36px;
    margin-right: 0 !important;
}

.mat-icon-arrow-sm {
    position: relative;
    left: 8px;
}
