<mat-toolbar>

    <mat-toolbar-row class="header">
        <button mat-icon-button class="mat-icon-button">
            <mat-icon>menu</mat-icon>
        </button>
        <a routerLink="/">Sample</a>
        <span class="spacer"></span>
        <ul class="header-auth">
            <li *ngIf="!userIsAuthenticated">
                <a mat-button routerLink="/auth/login">Login</a>
            </li>
            <li *ngIf="!userIsAuthenticated">
                <a mat-button routerLink="/auth/signup">Signup</a>
            </li>
            <li *ngIf="userIsAuthenticated">
                <button mat-button (click)="onLogout()">Logout</button>
            </li>
        </ul>
        <button mat-icon-button class="mat-icon-button">
            <mat-icon matBadge="15" matBadgeColor="warn">shopping_cart</mat-icon>
        </button>
        <ul class="header-flag">
            <li>
                <img src="assets/United-States-Flag-icon.png" alt="English">
            </li>
            <li>
                <img src="assets/Japan-Flag-icon.png" alt="Japanese">
            </li>
        </ul>
    </mat-toolbar-row>

    <mat-toolbar-row class="sub-header">
        <span>Second Line</span>
        <span class="spacer"></span>
        <button mat-icon-button class="mat-icon-button">
            <mat-icon>star_rate</mat-icon>
        </button>|
        <button mat-icon-button class="mat-icon-button" routerLink="/user">
            <mat-icon>account_circle</mat-icon>
        </button>
    </mat-toolbar-row>

    <mat-toolbar-row class="sub-header_breadcrumb">
        <span>Bread Crumb Line</span>
        <span class="spacer"></span>
    </mat-toolbar-row>

</mat-toolbar>

