<mat-toolbar>

    <mat-toolbar-row class="header">
        <button mat-icon-button class="mat-icon-button">
            <mat-icon>menu</mat-icon>
        </button>
        <a routerLink="/">Sample</a>
        <span class="spacer"></span>
        <a routerLink="/auth">Login</a>
        <button mat-icon-button class="mat-icon-button">
            <mat-icon matBadge="15" matBadgeColor="warn">shopping_cart</mat-icon>
        </button>
        <div class="flag-icon-container">
            <img src="assets/United-States-Flag-icon.png" alt="English">
            <img src="assets/Japan-Flag-icon.png" alt="Japanese">
        </div>
    </mat-toolbar-row>

    <mat-toolbar-row class="sub-header">
        <span>Second Line</span>
        <span class="spacer"></span>
        <button mat-icon-button class="mat-icon-button">
            <mat-icon>star_rate</mat-icon>
        </button>|
        <button mat-icon-button class="mat-icon-button">
            <mat-icon>account_circle</mat-icon>
        </button>
    </mat-toolbar-row>

    <mat-toolbar-row class="sub-header_breadcrumb">
        <span>Bread Crumb Line</span>
        <span class="spacer"></span>
    </mat-toolbar-row>

</mat-toolbar>

