@import '../../../common';

mat-drawer {
    @include background-color-white();
    @include font-family-times();
    width: 30%;
    mat-toolbar {
        @include background-color-white();
        height: 75px;
        mat-toolbar-row {
            height: 100%
        }
    }
}

mat-toolbar {
    .header {
        @include background-color-white();
        @include font-family-times();
        height: 75px;
        mat-drawer-container {
            @include background-color-white();
        }
        .header-auth {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            a,
            button {
                @include theme-color-font();
                @include font-family-times();
                text-decoration: none;
            }
        }
        .header-flag {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            img {
                margin-right: 3px;
                margin-left: 3px;
                cursor: pointer;
            }
        }
    }

    .sub-header {
        @include theme-color-background();
        @include font-family-times();
        color: #E9F1FF;
        height: 46px;
        button {
            @include font-family-times();
            outline: none;
        }
        mat-menu {
            @include font-family-times();
        }
    }

    .sub-header_breadcrumb {
        @include theme-color-font();
        @include font-family-times();
        height: 35px;
        background-color: #EEEEEE;
    }

    .spacer {
        flex: 1 1 auto;
    }
    
    .mat-icon-button {
        outline: none !important;
    }
}

::ng-deep .mat-menu-panel {
    min-width: 200px !important;
}
