@import '../../../../common';

.admin-products-container {
    @include displayFlexCenter();
    flex-flow: row wrap;
    .admin-product-container {
        max-width: 800px;
        margin-top: 1rem;
        margin-right: 0.5rem;
        margin-left: 0.5rem;
        mat-card-header {
            .example-header-image {
                background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
                background-size: cover;
            }
        }
        mat-card-actions {
            @include displayFlexCenter();
            .back-button {
                text-decoration: none;
            }
            button {
                outline: none;
            }
        }
    }
}