<div class="admin-products-container">
    <mat-card class="admin-product-container">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>ID: Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a product">
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <a class="back-button" mat-stroked-button routerLink="/admin/products">BACK</a>
            <button mat-button color="primary">Add to Cart</button>
            <!-- 何個の商品をカートに入れるか選択するinputをここに記入する -->
            <button mat-button color="warn">DELETE</button>
        </mat-card-actions>
    </mat-card>
</div>
