@mixin theme-color-font() {
    color: #AA1B14;
}

@mixin theme-color-background() {
    background-color: #AA1B14;
}

@mixin background-color-white() {
    background-color: white;
}

@mixin font-color-white() {
    color: white;
}

@mixin font-family-times() {
    font-family: 'Times New Roman', Times, serif;
}

@mixin make-content-centered() {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

@mixin lined-buttons-margin() {
    margin-right: 5px;
    margin-left: 5px;
}
