<form class="admin-users-form">
    <mat-form-field>
        <mat-label><mat-icon>search</mat-icon>Email</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field>
        <mat-label><mat-icon>search</mat-icon>Id</mat-label>
        <input matInput>
    </mat-form-field>
    
    <mat-form-field>
        <mat-label><mat-icon>search</mat-icon>Password</mat-label>
        <input matInput>
    </mat-form-field>
</form>

<mat-paginator *ngIf="!isLoading"
              [length]="totalUsers"
              [pageSize]="usersPerPage"
              [pageSizeOptions]="pageSizeOptions"
              (page)="onChangedPage($event)">
</mat-paginator>

<mat-accordion class="admin-users-headers-align">

    <mat-expansion-panel *ngFor="let user of users; index as i" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ user.email }}
            </mat-panel-title>
            <mat-panel-description>
                {{ user.id }}
                <mat-icon>account_circle</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
    
        <mat-action-row>
            <button mat-button color="warn" (click)="onDelete(user.id)">Delete</button>
        </mat-action-row>
    </mat-expansion-panel>
  
</mat-accordion>

<mat-paginator *ngIf="!isLoading"
              [length]="totalUsers"
              [pageSize]="usersPerPage"
              [pageSizeOptions]="pageSizeOptions"
              (page)="onChangedPage($event)">
</mat-paginator>