@import '../../../../common';

.admin-users-form {
    @include displayFlexCenter();
}

.admin-users-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-expansion-panel {
    width: 80%;
    margin: auto;
    mat-action-row {
        button {
            outline: none;
        }
    }
}

mat-paginator {
    @include displayFlexCenter();
    ::ng-deep button {
        outline: none;
    }
}
