@import '../../../../common';

.admin-users-form {
    @include displayFlexCenter();
}

.admin-products-container {
    @include displayFlexCenter();
    flex-flow: row wrap;
    .admin-product-container {
        @include marginRightLeft05rem();
        max-width: 300px;
        margin-top: 1rem;
        cursor: pointer;
        mat-card-actions {
            @include displayFlexCenter();
            button {
                outline: none;
            }
        }
    }
}

mat-paginator {
    @include displayFlexCenter();
    ::ng-deep button {
        outline: none;
    }
}
