<mat-toolbar>

    <mat-divider></mat-divider>

    <mat-toolbar-row class="sub-footer_contact">
        <div class="contact-Us-container">
            <p class="contact-us-desc">Contact Us</p>
            <a href="" class="email-us-desc">
                <mat-icon style="position: relative; top: 5px;">mail_outline</mat-icon>Email Us
            </a>
            <span class="phone-us-desc"> | XXX-XXXX-XXXXX</span>
        </div>
    </mat-toolbar-row>

    <mat-toolbar-row class="sub-footer_contact container">
        <div class="contact-button-container row">
            <button mat-stroked-button class="contact-button col-xs-12">About Us</button>
            <button mat-stroked-button class="contact-button col-xs-12">F.A.Q.</button>
            <button mat-stroked-button class="contact-button col-xs-12">Work For Us</button>
            <button mat-stroked-button class="contact-button col-xs-12">Returns</button>
        </div>
    </mat-toolbar-row>

    <mat-toolbar-row class="sub-footer_contact">
        <div class="contact-icon-desc-container">
            <h1 class="contact-icon-desc">Join Our Community!!</h1>
        </div>
    </mat-toolbar-row>

    <mat-toolbar-row class="sub-footer_contact">
        <div class="contact-icon-container">
            <img src="assets/facebook-icon.png" alt="facebook" class="SNS-icon">
            <img src="assets/instagram-icon.png" alt="instagram" class="SNS-icon">
            <img src="assets/twitter-icon.png" alt="twitter" class="SNS-icon">
            <img src="assets/youtube-icon.png" alt="youtube" class="SNS-icon">
        </div>
    </mat-toolbar-row>

    <mat-toolbar-row class="sub-footer">
        <div class="credit-icon-container">
            <img src="assets/VISA-icon.png" alt="VISA" class="credit-icon-nomargin">
            <img src="assets/MasterCard-icon.png" alt="MasterCard" class="credit-icon">
            <img src="assets/AmericanExpress-icon.png" alt="AmericanExpress" class="credit-icon">
            <img src="assets/PayPal-icon.png" alt="PayPal" class="credit-icon-nobackground">
        </div>
    </mat-toolbar-row>

    <mat-toolbar-row class="footer">
        <p>
            Hours of Operation: (you can place an order at any time)
            <br/> 9am-6pm Monday-Friday,
            <br/>10am-5pm Saturdays,
            <br/>10am-4pm Sundays.
        </p>
        <p>Mailing Address: XXXXX-XXXXX XXXXX XXXXXX</p>
        <p>&copy;Haruto Katayama. All rights reserved</p>
    </mat-toolbar-row>

</mat-toolbar>
