@import '../../../../common';

.auth-container {
    @include font-family-times();
    display: flex;
    justify-content: center;
    button {
        @include font-family-times();
        outline: none;
    }
}
