<div *ngIf="isLoading" style="text-align: center;">
  <app-loading-spinner></app-loading-spinner>
</div>
<mat-card>
  <form [formGroup]="form" (submit)="onSaveProduct()" *ngIf="!isLoading">

    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input
        matInput
        type="text"
        formControlName="title"
        placeholder="Title"
      >
      <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearFormField(form.get('title'))">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="form.get('title').invalid">Please enter a product title.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Price</mat-label>
      <input
        matInput
        type="number"
        formControlName="price"
        placeholder="Price"
      >
      <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearFormField(form.get('price'))">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="form.get('price').invalid">Please enter a product price.</mat-error>
    </mat-form-field>

    <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
      <input type="file" #filePicker (change)="onImagePicked($event)">
    </div>
    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
      <img [src]="imagePreview" [alt]="form.value.title">
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        rows="6"
        formControlName="description"
        placeholder="Description"
      ></textarea>
      <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearFormField(form.get('description'))">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="form.get('description').invalid">Please enter a product description.</mat-error>
    </mat-form-field>

    <div class="mat-form-field-container">
      <mat-form-field appearance="outline">
        <mat-label>Quantity</mat-label>
        <input
          matInput
          type="number"
          formControlName="quantity"
          placeholder="Quantity"
        >
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearFormField(form.get('quantity'))">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="form.get('quantity').invalid">Please enter a product quantity.</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Weight</mat-label>
        <input
          matInput
          type="number"
          formControlName="weight"
          placeholder="weight"
        >
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearFormField(form.get('weight'))">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="form.get('weight').invalid">Please enter a product weight.</mat-error>
      </mat-form-field>
    </div>

    <div class="mat-form-field-container">
      <mat-form-field appearance="outline">
        <mat-label>Category</mat-label>
        <input
          matInput
          type="text"
          formControlName="category"
          placeholder="Category"
        >
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearFormField(form.get('category'))">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="form.get('category').invalid">Please enter a product category.</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Country</mat-label>
        <input
          matInput
          type="text"
          formControlName="country"
          placeholder="Country"
        >
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearFormField(form.get('country'))">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="form.get('country').invalid">Please enter a product country.</mat-error>
      </mat-form-field>
    </div>

    <div class="mat-form-field-container">
      <mat-form-field appearance="outline">
        <mat-label>Height</mat-label>
        <input
          matInput
          type="number"
          formControlName="height"
          placeholder="Height"
        >
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearFormField(form.get('height'))">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="form.get('height').invalid">Please enter a product height.</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Width</mat-label>
        <input
          matInput
          type="type"
          formControlName="width"
          placeholder="Width"
        >
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearFormField(form.get('width'))">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="form.get('width').invalid">Please enter a product width.</mat-error>
      </mat-form-field>
    </div>

    <a *ngIf="mode === 'edit'" class="back-button" mat-stroked-button routerLink="/admin/products">BACK</a>
    <button mat-raised-button color="accent" type="submit">{{ mode === 'create' ? 'Save Post' : 'Update'}}</button>
  </form>
</mat-card>