@import '../../../../common';

.mat-form-field-container {
  @include displayFlex();
}

mat-form-field {
  button {
    outline: none;
  }
}

mat-form-field,
textarea {
  width: 100%;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
  img {
    height: 100%;
  }
}
